/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 900

 */

.cardsContainer {
  background-color: #fefaef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-card {
  width: 30rem;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
}

.card-left {
  background-color: #27355c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-Cards-Title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-Questions {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-success,
.bg-danger {
  color: white;
}
