/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 900

 */

.quiz-card {
  width: 36rem;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
}

.card-left {
  background-color: #27355c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 15%;
}

.rubik-Cards-Title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-Questions {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-success,
.bg-danger {
  color: white;
}

.endcard {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 30px;
  flex-direction: column;
}

.winnig-contaier{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #F7D5BB;
  width: 85%;
  border-radius: 50%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.winnig-contaier > img{
  height: 60%;
}

.winning-text{
  text-align: center;
}

@media only screen and (max-width: 426px) {
  .card-body{
    padding: 0;
    width: 300px;
  }
  .winnig-contaier > img{
    height: 38%;
  }
}

